{{ $cssList := slice
"/css/colors.css"
"/css/layouts.css"
"/css/pages/home.css"
"/css/pages/posts.css"
"/css/pages/single.css"
"/css/components/header.css"
"/css/components/footer.css"
"/css/components/metadata.css"
}}

{{ $jsList := slice
"/js/darkMode.js"
"/js/pages/posts.js"
"/js/components/header.js"
}}

<link rel="stylesheet" href="{{ ( resources.Get "/libs/normalize@8.0.1/normalize.css" | minify | resources.Fingerprint "sha512" ).RelPermalink }}">

{{ $css := slice }}
{{ range $cssList }}
{{ $css = $css | append ( resources.Get . ) }}
{{ end }}
{{ $cssBundle := ( $css = $css | resources.Concat "/css/bundle.css" | minify ) }}
<link rel="stylesheet" href="{{ $cssBundle.RelPermalink }}">

{{ $js := slice }}
{{ range $jsList }}
{{ $js = $js | append ( resources.Get . ) }}
{{ end }}
{{ $jsBundle := ( $js = $js | resources.Concat "/js/bundle.js" | js.Build | minify ) }}
<script defer src="{{ $jsBundle.RelPermalink }}"></script>

{{/* ==> Import Modules */}}
{{ $modules := slice
    "/js/components/c-banner.js"
}}
{{ range $modules }}
{{/* <script type="module" src="{{ (resources.Get . | js.Build | minify ).RelPermalink }}"></script> */}}
<script defer src="{{ (resources.Get . | js.Build | minify | resources.Fingerprint "sha512" ).RelPermalink }}"></script>
{{ end }}
{{/* <== Import Modules */}}

<link rel="stylesheet" href="/libs/fontawesome@6.2.0/css/all.min.css" media="none" onload="this.media='all'">
<link rel="stylesheet" href="/libs/firacode@6.2.0/fira_code.css" media="none" onload="this.media='all'">