{{ $cssList := slice
    "/css/colors.css"
    "/css/layouts.css"
    "/css/pages/home.css"
    "/css/pages/posts.css"
    "/css/pages/single.css"
    "/css/components/header.css"
    "/css/components/footer.css"
    "/css/components/metadata.css"
}}

{{ $jsList := slice
    "/js/darkMode.js"
    "/js/pages/posts.js"
    "/js/components/header.js"
}}

<link rel="stylesheet" href="/libs/normalize@8.0.1/normalize.min.css">

{{ $css := slice }}
{{ range $cssList }}
{{ $css = $css | append ( resources.Get . ) }}
{{ end }}
{{ $cssBundle := ( $css = $css | resources.Concat "/css/bundle.css" | minify ) }}
<link rel="stylesheet" href="{{ $cssBundle.RelPermalink }}">

{{ $js := slice }}
{{ range $jsList }}
{{ $js = $js | append ( resources.Get . ) }}
{{ end }}
{{ $jsBundle := ( $js = $js | resources.Concat "/js/bundle.js" | js.Build | minify ) }}
<script defer src="{{ $jsBundle.RelPermalink }}"></script>

<!-- <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="/libs/fontawesome@6.2.0/css/all.min.css" media="none" onload="this.media='all'">