a.posts-card {
    display: block;
    border: 1px solid var(--card-border-color);
    margin: 1rem;
    border-radius: 8px;
    transition: box-shadow .2s ease 0s;
    display: flex;
    color: var(--text-color);
}

a.posts-card:hover {
    box-shadow: 0 14px 25px 0 rgba(60, 64, 67, 0.08), 0 4px 13px 0 rgba(60, 64, 67, 0.12);
}

div.posts-card-cover {
    display: block;
    width: 40%;
    background-size: cover;
    background-position: 50% 50%;
    border-right: 1px solid var(--card-border-color);
    border-radius: 8px 0 0 8px;
}

div.posts-card-cover::before {
    content: "";
    padding-bottom: 52%;
    float: left;
}

div.posts-card-cover::after {
    content: "";
    display: block;
    clear: both;
}

div.posts-card-title {
    line-height: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

div.posts-card-metadata {
    padding: 0 0.8rem;
}

div.posts-card-summary {
    padding: 0.5rem 1rem;
}

@media (max-width: 600px) {
    .posts-card {
        flex-direction: column;
    }

    div.posts-card-cover {
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid var(--card-border-color);
        border-radius: 8px 8px 0 0;
    }
}