div.single-posts-card {
    border: 1px solid var(--card-border-color);
    margin: 1rem;
    border-radius: 8px;
    color: var(--text-color);
}

#single-title {
    position: sticky;
    top: 3rem;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 0.75rem;
    border-bottom: 1px solid var(--card-border-color);
    transition: background-color .2s ease 0s;
}

div.title-bg {
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    background-color: var(--nav-bg-color);
}

#single-title a,
#single-title a:visited {
    display: inline-block;
    color: var(--nav-link-color);
    width: 2rem;
    text-align: center;
    border-radius: 1rem;
    transition: background-color .2s ease 0s, color .2s ease 0s;
}

#single-title a:hover,
#single-title a.current-item {
    color: var(--nav-link-hover-color);
    background-color: var(--nav-link-hover-bg-color);
    text-decoration: none;
}

a#single-title-return {
    margin: 0 0.5rem 0 0;
}

a#single-title-top {
    float: right;
    cursor: pointer;
}

img.single-cover {
    width: 100%;
    border-bottom: 1px solid var(--card-border-color);
}

div.single-metadata {
    padding: 0.5rem 0.8rem;
    border-bottom: 1px solid var(--card-border-color);
}

div.single-article {
    padding: 0.5rem 1rem;
}

div.single-article a {
    color: #2d96bd;
    transition: color .2s ease 0s;
}

div.single-article a:hover {
    color: #ef3982;
}

div.single-article h2::before {
    content: "#";
    margin-right: 0.5rem;
}

div.single-article h3::before {
    content: "##";
    margin-right: 0.5rem;
}

div.single-article blockquote {
    margin: 0;
    padding: 1px 1rem;
    border-left: 0.3rem solid #1793d1;
    background-color: #1793d120;
}

div.single-article strong {
    color: #ef3982;
}

div.single-article div.highlight>pre {
    padding: 1rem;
}

div.single-article pre {
    overflow: auto;
    border-radius: 8px;
}

div.single-article code {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

div.single-article code {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
}

div.single-article p>code,
div.single-article li>code {
    padding: 0.05rem 0.3rem;
    border-radius: 4px;
    background-color: var(--nav-link-hover-bg-color);
}