div.single-posts-card {
    border: 1px solid var(--card-border-color);
    margin: 1rem;
    border-radius: 8px;
    color: var(--text-color);
}

#single-title {
    position: sticky;
    top: 3rem;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 0.75rem;
    border-bottom: 1px solid var(--card-border-color);
    transition: background-color .2s ease 0s;
}

div.title-bg {
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    background-color: var(--nav-bg-color);
}

#single-title a,
#single-title a:visited {
    display: inline-block;
    color: var(--nav-link-color);
    width: 2rem;
    text-align: center;
    border-radius: 1rem;
    transition: background-color .2s ease 0s, color .2s ease 0s;
}

#single-title a:hover,
#single-title a.current-item {
    color: var(--nav-link-hover-color);
    background-color: var(--nav-link-hover-bg-color);
    text-decoration: none;
}

a#single-title-return {
    margin: 0 0.5rem 0 0;
}

a#single-title-top {
    float: right;
    cursor: pointer;
}

img.single-cover {
    width: 100%;
    border-bottom: 1px solid var(--card-border-color);
}

div.single-metadata {
    padding: 0.5rem 0.8rem;
    border-bottom: 1px solid var(--card-border-color);
}

div.single-article {
    padding: 0.5rem 1rem;
}

div.single-article a {
    color: var(--single-a-color);
    transition: color .2s ease 0s;
}

div.single-article a:hover {
    color: var(--single-a-hover-color);
}

div.single-article h2::before {
    content: "#";
    margin-right: 0.5rem;
}

div.single-article h3::before {
    content: "##";
    margin-right: 0.5rem;
}

div.single-article blockquote {
    margin: 0;
    padding: 1px 1rem;
    border-left: 0.3rem solid #1793d1;
    background-color: #1793d120;
}

div.single-article strong {
    color: #ef3982;
}

div.single-article code {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

div.single-article code {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
}

div.single-article p>code,
div.single-article li>code {
    padding: 0.05rem 0.3rem;
    border-radius: 4px;
    background-color: var(--nav-link-hover-bg-color);
}

/* Code Highlight */
.chroma {
    overflow: auto;
    border-radius: 8px;
    padding: 1rem;
    color: #f8f8f2;
    background-color: #282a36;
}

.chroma .err {
    color: #960050;
    background-color: #1e0010
}

.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.chroma .hl {
    background-color: #ffffcc
}

.chroma .lnt {
    white-space: pre;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f
}

.chroma .ln {
    white-space: pre;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f
}

.chroma .line {
    display: flex;
}

.chroma .k,
.chroma .kc,
.chroma .kd,
.chroma .kp,
.chroma .kr,
.chroma .kt,
.chroma .no {
    color: #66d9ef
}

.chroma .na,
.chroma .nc,
.chroma .nd,
.chroma .ne,
.chroma .nf,
.chroma .nx,
.chroma .gi {
    color: #a6e22e
}

.chroma .kn,
.chroma .nt,
.chroma .o,
.chroma .ow,
.chroma .gd {
    color: #f92672
}

.chroma .l,
.chroma .se,
.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .il,
.chroma .mo {
    color: #ae81ff
}

.chroma .ld,
.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .sr,
.chroma .s1,
.chroma .ss {
    color: #e6db74
}

.chroma .c,
.chroma .ch,
.chroma .cm,
.chroma .c1,
.chroma .cs,
.chroma .cp,
.chroma .cpf,
.chroma .gu {
    color: #75715e
}

.chroma .ge {
    font-style: italic
}

.chroma .gs {
    font-weight: bold
}