{{ define "content" }}
<div class="home-content">
    <div class="home-avatar-contianer home-contianer">
        <img src="{{ .Site.Params.avatar }}" alt="avatar" id="avatar">
    </div>
    <div class="home-tags-contianer home-contianer">
        {{ range .Site.Params.selfTags }}<div class="home-selftags">{{ . }}</div>{{ end }}
    </div>
    <div class="home-msg-contianer home-contianer">{{ .Site.Params.msg }}</div>
    <div class="home-social-contianer home-contianer">
        {{ range .Site.Params.social }}<a class="home-social-tags" href="{{ .url }}"><i class="{{ .icon }}"></i>{{ .name }}</a>{{ end }}
    </div>
</div>
{{ end }}